.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #131921;
  padding: 1rem 2rem;
  color: #fff;

  &__address {
    display: flex;
    align-items: end;
    margin-left: 1.5rem;
    color: #c4c4c4;

    h1 {
      color: #fff;
      font-size: 1.4rem;
    }
  }

  &__search {
    flex: 1;
    display: flex;
    align-items: center;
    background: #fff;
    color: gray;
    max-width: 100rem;
    border-radius: 0.4rem;
    margin-left: 1.5rem;
    overflow: hidden;

    &--gategory {
      display: flex;
      align-items: center;
      padding: 1rem 2rem;
      gap: 5px;
      background: #e5e5e5;
      border-radius: 0.5rem;
    }

    &--input {
      border: none;
      outline: none;
      padding-left: 2rem;
      width: 100%;
    }

    &--icon {
      max-width: 4.1rem;
      padding: 0.8rem;
      background: #ffd64f;
    }
  }

  &__languege {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    font-weight: 600;
    margin-left: 15px;
  }

  &__text {
    margin-left: 1.5rem;

    p {
      font-size: 1rem;
    }
    h1 {
      font-size: 1rem;
    }
  }

  &__text1 {
    margin-left: 1.2rem;
    p {
      font-size: 1rem;
    }
    h2 {
      font-size: 1rem;
    }
  }

  &__cart {
    a {
      margin-left: 1.5rem;
      display: flex;
      align-items: end;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    //padding: 0.8rem 2rem;
    background: #232f3e;
    font-size: 1.5rem;
    color: #fff;

    div {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-weight: 500;
      padding: 0.8rem 2rem;

      &:hover {
        border: 2px solid #fff;
        border-radius: 5px;
      }
    }
  }
}
